body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  body, html {
      height: 100%;
      line-height: 1.8;
  }
  /* Full height image header */
  .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("http://i63.tinypic.com/v5eefr.jpg");
      min-height: 100%;
  }
  .w3-bar .w3-button {
      padding-top: 12px;
      padding-right: 10px;
      padding-bottom: 20px;
      padding-left: 10px;
  }

#logo {
  padding-top: 5px;
}


#myNavbar{
  height:50px;
}

/* Fotos del equipo */
.equipo {
  width: 60%;
  display: block;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 5px 5px #898989);
  filter: drop-shadow(0px 5px 5px #898989);
}

/* Iconito de lugar para el equipo */
.lugar {
  position: relative;
  bottom: -0.25em;
}
