body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  body,html {
      height: 100%;
      line-height: 1.8;
  }
  /* Full height image header */
  .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("img/header.png");
      min-height: 100%;
  }
  .w3-bar .w3-button {
      padding-top: 12px;
      padding-right: 10px;
      padding-bottom: 20px;
      padding-left: 10px;
  }

#logo {
  padding-top: 5px;
}

.conoce{
    margin: 0 auto;
    padding: 15px;
    width: 40%;
  min-width: 130px;
    display: block;
}

#myNavbar{
  height:50px;
}

/* Fotos del equipo */
.equipo {
    padding: 15px;
    width: 60%;
    display: block;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0px 5px 5px #898989);
    filter: drop-shadow(0px 5px 5px #898989);
}

/* Iconito de lugar para el equipo */
.lugar { 
    position: relative;
    bottom: -0.25em;
}

.inter {
    box-shadow: 0px 5px 10px #898989;
}

/* Cosillas para la imagen responsive. */ 
#bigdi {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    position: relative;
    overflow: hidden
}

#divalt{
    position: relative;
    display: block;
}

#col{
    overflow: hidden;
}

#vimeo{
    padding-top: 64px;
}

#videovim{
    display: block;
    margin: auto;
    width = 100%;
    padding: 24px;
}
